::ng-deep .mat-form-field-flex
{
  width:25rem !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar{
  border: 1px solid black !important;
  border-radius: 10px;
}


.space-between-container {
  border: 1px solid #808080;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}


.reset-btn{
      position: absolute;
    right: 125rem !important;
}
