<kendo-grid
      [kendoGridBinding]="gridView"
      kendoGridSelectBy="id"
      [(selectedKeys)]="mySelection"
      [pageSize]="20"
      [pageable]="true"
      [sortable]="true"
      [reorderable]="true"
      [resizable]="true"
      [height]="400"
    >
      <ng-template kendoGridToolbarTemplate>
        <label [for]="">ObjectId: </label>
        <input
          [style.width.px]="165"
          placeholder="ObjectId"
          kendoTextBox
          (input)="onFilter($event.target)"
        />

        <button mat-button (click)="openDialog()"> <mat-icon>settings</mat-icon> <span></span> Map Configuration</button>
        <!-- <app-configuration-dialog></app-configuration-dialog> -->
        <!-- <button kendoButton (click)="handleMapConfiguration()"><span class="k-icon k-i-wrench"></span> Map Configuration</button> -->
        <!-- <div kendoDialogContainer></div> -->
        <kendo-grid-spacer></kendo-grid-spacer>

      </ng-template>
        <kendo-grid-column field="objectid" title="Incident Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.objectid }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="incidentnm" title="Incident Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.incidentnm}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="inspdate" title="Inspection Date Time" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.inspdate  | date:'M/d/yyyy,  h:mm a' }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="firstname" title="Contact First Name" [width]="220">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.firstname}}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column  [width]="35">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            <button kendoButton icon="plus" rounded="full" (click)="onClick(dataItem.objectid)"></button>
          </div>
        </ng-template>
      </kendo-grid-column>

    </kendo-grid>
